@use "../../../styles/mixins";
@use "../../../styles/adaptive";
@use "../../../styles/variables";

.card {
	@include mixins.resize("border-radius", 12, 10, 10);

	background-color: variables.$color-white;
	border: 2px solid variables.$color-primary-15;
}

.shadow {
	box-shadow: 6px 6px 0 2px variables.$color-primary-15;

	@include adaptive.laptop {
		box-shadow: 4px 4px 0 2px variables.$color-primary-15;
	}

	@include adaptive.mobile {
		box-shadow: 4px 4px 0 1px variables.$color-primary-15;
	}
}