@use "../../../styles/variables";
@use "../../../styles/mixins";

.header {
  @include mixins.resize("top", 18, 16, 40);
  @include mixins.resize("gap", 14, 14, 14);

  position: sticky;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
}