@use "../../../assets/styles/variables";
@use "../../../assets/styles/mixins";
@use "../../../assets/styles/adaptive";

.intro {
  @include mixins.resize("max-width", 1590, 1280, 358);
  @include mixins.resize("gap", 60, 50, 40);
  @include mixins.resize("margin-top", 80, 60, 50);

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include adaptive.mobile {
    display: flex;
    flex-direction: column;
  }
}

.image {
  @include mixins.resize("width", 765, 615, 358);
  @include mixins.resize("height", 785, 663, 410);
}

.info {
  @include adaptive.mobile {
    text-align: center;
  }
}

.suptitle {
  @include mixins.resize("font-size", 22, 18, 16);
  @include mixins.resize("margin-bottom", 6, 6, 6);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  line-height: 150%;
  color: variables.$color-primary-15;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.title,
.title_highlighting {
  @include mixins.resize("font-size", 54, 40, 30);

  font-family: variables.$font-family-secondary;
  font-weight: variables.$font-weight-extra-bold;
}

.title {
  color: variables.$color-primary-10;
}

.title_highlighting {
  color: variables.$color-accent-65;
}

.description {
  @include mixins.resize("margin-top", 30, 20, 18);
  @include mixins.resize("font-size", 20, 16, 16);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  color: variables.$color-primary-20;
}