@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/adaptive";

.pages {
	@include mixins.resize("gap", 50, 40, 40);

	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	@include adaptive.mobile {
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: 1fr;
	}
}
