@use "variables";

@mixin desktop() {
  @media screen and (min-width: #{variables.$not-laptop + 1}) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (max-width: #{variables.$not-laptop}) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: #{variables.$not-mobile}) {
    @content;
  }
}


