@use "../../../styles/variables";
@use "../../../styles/mixins";

.title {
  @include mixins.resize("font-size", 58, 48, 38);
  @include mixins.resize("margin-bottom", 19, 14, 10);

  font-family: variables.$font-family-secondary;
  font-weight: variables.$font-weight-bold;
  line-height: 130%;
  color: variables.$color-primary-10;
}