@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/adaptive";

.banner {
	@include mixins.resize("padding-top", 150, 100, 50);
	@include mixins.resize("padding-bottom", 150, 100, 50);
	@include mixins.resize("padding-left", 120, 80, 30);
	@include mixins.resize("padding-right", 120, 80, 30);
	@include mixins.resize("margin-top", 60, 40, 40);

	position: relative;
}

.decoration {
	@include mixins.resize("width", 200, 137, 100);
	@include mixins.resize("height", 200, 137, 100);

	position: absolute;
	top: 0;
	left: 0;
}

.inner {
	@include mixins.resize("gap", 50, 50, 20);

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	@include adaptive.mobile {
		grid-template-columns: 1fr;
		text-align: center;
	}
}