@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/mixins";

.banner {
  @include mixins.resize("padding-top", 14, 12, 12);
  @include mixins.resize("padding-bottom", 14, 12, 12);
  @include mixins.resize("gap", 14, 14, 10);
  @include mixins.resize("border-width", 3, 3, 2);
  @include mixins.resize("border-radius", 8, 6, 6);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-accent-90;
  border-color: variables.$color-primary-15;
  border-style: solid;
}

.text {
  @include mixins.resize("font-size", 20, 16, 14);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  line-height: 150%;
  color: variables.$color-primary-15;
}

.arrow {
  @include mixins.resize("width", 18, 14.4, 12);
  @include mixins.resize("height", 21, 16.8, 14);
}