@use "../../../../styles/variables";
@use "../../../../styles/mixins";
@use "../../../../styles/adaptive";

.container {
  @include mixins.resize("width", 765, 615, 358);
  @include mixins.resize("height", 785, 663, 410);

  position: relative;
  background-color: variables.$color-accent-80;
  border: 12px solid variables.$color-accent-80;

  @include adaptive.mobile {
    border: 9px solid variables.$color-accent-80;
  }
}

.decoration {
  @include mixins.resize("width", 558.8, 466.78, 282.27);
  @include mixins.resize("height", 607.25, 507.25, 306.75);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: variables.$color-white;
  border: 2px solid variables.$color-primary-15;
  border-radius: 100%;

  &:nth-of-type(1) {
    top: -18px;
    left: -18px;
  }

  &:nth-of-type(2) {
    top: -18px;
    right: -18px;
  }

  &:nth-of-type(3) {
    bottom: -18px;
    left: -18px;
  }

  &:nth-of-type(4) {
    right: -18px;
    bottom: -18px;
  }

  @include adaptive.mobile {
    &:nth-of-type(1) {
      top: -14px;
      left: -14px;
    }

    &:nth-of-type(2) {
      top: -14px;
      right: -14px;
    }

    &:nth-of-type(3) {
      bottom: -14px;
      left: -14px;
    }

    &:nth-of-type(4) {
      right: -14px;
      bottom: -14px;
    }
  }
}

.line {
  position: absolute;
  background-color: variables.$color-primary-15;

  &:nth-of-type(5) {
    top: -8px;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &:nth-of-type(6) {
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &:nth-of-type(7) {
    top: 0;
    right: -8px;
    width: 2px;
    height: 100%;
  }

  &:nth-of-type(8) {
    top: 0;
    left: -8px;
    width: 2px;
    height: 100%;
  }

  @include adaptive.mobile {
    &:nth-of-type(5) {
      top: -6px;
    }

    &:nth-of-type(6) {
      bottom: -6px;
    }

    &:nth-of-type(7) {
      right: -6px;
    }

    &:nth-of-type(8) {
      left: -6px;
    }
  }
}