@use "../../../../styles/variables";
@use "../../../../styles/mixins";
@use "../../../../styles/adaptive";

.lower {
  @include mixins.resize("gap", 30, 20, 16);

  display: flex;
  flex-direction: column;

}

.info {
  @include mixins.resize("gap", 0, 0, 20);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include adaptive.mobile {
    flex-direction: column;
  }
}

.navigation {
  @include mixins.resize("gap", 16, 20, 16);

  display: flex;
  list-style: none;
}

.link {
  @include mixins.resize("font-size", 18, 16, 14);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  color: variables.$color-primary-20;
}

.navigation_line {
  @include mixins.resize("height", 27, 24, 21);

  width: 1px;
  font-size: 16px;
  background-color: variables.$color-primary-15;
}

.networks {
  @include mixins.resize("gap", 14, 20, 16);

  display: flex;
  list-style: none;
}

.network {
  @include mixins.resize("padding", 16, 14, 14);
  @include mixins.resize("border-radius", 8, 6, 6);

  display: block;
  background-color: variables.$color-accent-90;
  border: 2px solid variables.$color-primary-15;
}

.icon {
  @include mixins.resize("width", 24, 20, 20);
  @include mixins.resize("height", 24, 20, 20);
}

.line {
  width: 100%;
  height: 2px;
  background-color: variables.$color-primary-15;

  @include adaptive.mobile {
    height: 1px;
  }
}

.copyright {
  @include mixins.resize("font-size", 18, 16, 14);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  line-height: 150%;
  color: variables.$color-primary-40;
  text-align: center;
}