@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/mixins";
@use "../../../../assets/styles/adaptive";

.statistics {
  @include mixins.resize("padding-top", 24, 20, 40);
  @include mixins.resize("padding-bottom", 24, 20, 40);
  @include mixins.resize("padding-left", 50, 40, 40);
  @include mixins.resize("padding-right", 50, 40, 40);
  @include mixins.resize("margin-top", 60, 50, 40);
  @include mixins.resize("gap", 13, 10, 10);
  @include mixins.resize("border-radius", 12, 10, 10);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: variables.$color-accent-95;
  border: 2px solid variables.$color-primary-15;
  box-shadow: 8px 8px 0 0 variables.$color-accent-80;

  @include adaptive.laptop {
    box-shadow: 6px 6px 0 0 variables.$color-accent-80;
  }

  @include adaptive.mobile {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 4px 4px 0 0 variables.$color-accent-80;
  }
}

.statistic {

}

.value {
  @include mixins.resize("font-size", 44, 34, 34);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-extra-bold;
  line-height: 150%;
  color: variables.$color-primary-15;
}

.title {
  @include mixins.resize("font-size", 18, 16, 16);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  line-height: 150%;
  color: variables.$color-primary-15;
}

.line {
  display: none;

  @include adaptive.mobile {
    display: block;
    width: 100%;
    height: 2px;
    background-color: variables.$color-primary-15;
  }
}