@use "../../../../styles/variables";
@use "../../../../styles/mixins";
@use "../../../../styles/adaptive";

.navbar {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$color-white;

  &::after {
    @include mixins.resize("border-radius", 8, 6, 6);

    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border: 2px solid variables.$color-primary-15;
  }
}

.logo {
  @include mixins.resize("padding-top", 20, 16, 16);
  @include mixins.resize("padding-bottom", 20, 16, 16);
  @include mixins.resize("padding-left", 24, 20, 20);
  @include mixins.resize("padding-right", 24, 20, 20);
  @include mixins.resize("border-top-left-radius", 8, 6, 6);

  position: relative;
  z-index: -1;
  background-color: variables.$color-accent-65;
  border-color: variables.$color-primary-15;
  border-style: solid;
  border-width: 0 2px 0 0;
}

.logo_image {
  @include mixins.resize("width", 182.69, 155.29, 137.02);
  @include mixins.resize("height", 40, 34, 30);
}

.navigation {
  display: flex;

  @include adaptive.mobile {
    display: none;
  }
}

.link,
.link_selected,
.link_accent {
  @include mixins.resize("padding-top", 27, 20, 20);
  @include mixins.resize("padding-bottom", 27, 20, 20);
  @include mixins.resize("padding-left", 34, 30, 30);
  @include mixins.resize("padding-right", 34, 30, 30);

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-color: variables.$color-primary-15;
  border-style: solid;
  border-width: 0 0 0 2px;
  transition: all .2s ease-in-out;

  a {
    @include mixins.resize("font-size", 20, 16, 14);

    font-family: variables.$font-family-primary;
    font-weight: variables.$font-weight-medium;
    line-height: 150%;
    color: variables.$color-primary-15;
  }
}

.link {
  &:hover {
    background-color: variables.$color-accent-95;
  }

  &:active {
    background-color: variables.$color-accent-75;
  }
}

.link_selected {
  background-color: variables.$color-accent-95;
}

.link_accent {
  @include mixins.resize("border-top-right-radius", 8, 6, 6);
  @include mixins.resize("border-bottom-right-radius", 8, 6, 6);

  background-color: variables.$color-accent-75;

  &:hover {
    background-color: variables.$color-accent-65;
  }
}

.menu {
  @include mixins.resize("padding-top", 14, 14, 14);
  @include mixins.resize("padding-bottom", 14, 14, 14);
  @include mixins.resize("padding-left", 30, 30, 30);
  @include mixins.resize("padding-right", 30, 30, 30);

  display: none;
  background-color: variables.$color-accent-95;
  border-color: variables.$color-primary-15;
  border-style: solid;
  border-width: 0 0 0 2px;

  @include adaptive.mobile {
    display: block;
  }
}

.menu_button {
  @include mixins.resize("width", 28, 28, 28);
  @include mixins.resize("height", 28, 28, 28);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 3px;
  background: none;
  border: none;

  div {
    width: 100%;
    height: 2px;
    background-color: variables.$color-primary-15;
    border-radius: 2px;

    &:last-of-type {
      width: 60%;
    }
  }
}