
// Font Families
$font-family-primary: "Outfit", sans-serif;
$font-family-secondary: "Raleway", sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// General Colors
$color-white: white;
$color-black: black;

// Accent Colors
$color-accent-65: #FF8D4C;
$color-accent-70: #FF9E66;
$color-accent-75: #FFAE80;
$color-accent-80: #FFBE99;
$color-accent-90: #FFDECC;
$color-accent-95: #FFEFE5;
$color-accent-97: #FFF5F0;
$color-accent-99: #FFFCFA;

// Primary Colors
$color-primary-10: #191919;
$color-primary-15: #262626;
$color-primary-20: #333333;
$color-primary-30: #4C4C4D;
$color-primary-35: #59595A;
$color-primary-40: #656567;
$color-primary-60: #98989A;
$color-primary-70: #B3B3B3;

// Adaptive constants
$not-laptop: 1439px;
$not-mobile: 575px;

// Template constants
$width-template-desktop: 1920;
$width-template-laptop: 1440;
$width-template-mobile: 390;
$height-template-desktop: 1100;
$height-template-laptop: 900;
$height-template-mobile: 950;