@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/mixins";
@use "../../../../assets/styles/adaptive";

.testimonial {
  @include mixins.resize("height", 529, 428, 322);
  @include mixins.resize("padding", 50, 40, 30);
  @include mixins.resize("border-radius", 12, 10, 10);
  @include mixins.resize("gap", 30, 24, 20);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: variables.$color-white;
  border: 2px solid variables.$color-primary-15;
}

.author {
  @include mixins.resize("gap", 12, 10, 10);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  @include mixins.resize("width", 80, 66, 66);
  @include mixins.resize("height", 80, 66, 66);

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-accent-97;
  border: 1px solid variables.$color-primary-20;
  border-radius: 100%;

  img {
    @include mixins.resize("width", 60, 50, 50);
    @include mixins.resize("height", 60, 50, 50);

    user-select: none;
  }
}

.name {
  @include mixins.resize("font-size", 24, 20, 20);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-semi-bold;
  line-height: 150%;
  color: variables.$color-primary-20;
}

.stars {
  @include mixins.resize("gap", 5, 4, 4);

  display: flex;
  align-items: center;
}

.star {
  @include mixins.resize("width", 24, 20, 20);
  @include mixins.resize("height", 24, 20, 20);

  width: 20px;
  height: 20px;
}

.text {
  @include mixins.resize("font-size", 20, 16, 16);

  font-family: variables.$font-family-primary;
  font-weight: variables.$font-weight-medium;
  line-height: 150%;
  color: variables.$color-primary-20;
}