@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/adaptive";

.container {
	@include mixins.resize("gap", 50, 40, 20);

	display: grid;
	grid-template-columns: 1fr 1fr;

	@include adaptive.mobile {
		grid-template-columns: 1fr;
	}
}

.accordion {
	@include mixins.resize("gap", 30, 24, 20);

	display: flex;
	flex-flow: column wrap;
	gap: 1.5rem;
	max-height: 2000px;

	@include adaptive.mobile {
		column-count: 1;
	}
}

