@use "../../../../styles/variables";
@use "../../../../styles/mixins";
@use "../../../../styles/adaptive";

.testimonials {
  @include mixins.resize("gap", 50, 40, 40);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include adaptive.mobile {
    display: block;
  }
}

.swiper {
  order: 2;
  width: 99%;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include adaptive.mobile {
    @include mixins.resize("margin-bottom", 50, 40, 40);
  }
}

